/* ####### FOOTER ####### */

.footer {
	background-image: linear-gradient(to bottom right, #8800ff , #8850ff);
	color: white;
	text-align: center;
}
.footer a {
	color: white;
	text-decoration: none;
}
.footer li {
	list-style: none;
	text-align: left;
	padding: 2px;
	font-size: 16px;
}