/* ####### FOOTER ####### */

.footer {
	background-image: linear-gradient(to bottom right, #8800ff , #8850ff);
	color: white;
	min-height: 200px;
	line-height: 30px;
}
.footer a {
	color: white;
	text-decoration: none;
}
.footer li {
	list-style: none;
}