input[type=text], input[type=password], input[type=email], input[type=date] {
	width: 100%;
	padding: 12px 20px;
	margin: 7px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 20px;
}

input[type=checkbox]{
	width: 25px;
	height: 25px;
}

@media only screen and (max-width:768px) { 
  form{width: 100%;}
} 

button, input[type=submit]{
  padding: 15px 30px;
  font-size: 14px;
  background: #0078ff;
  border: 1px solid #8800ff;
  border-radius: 5px;
  color: #fff;
  margin-top: 5px;
}


form {
	text-align: center;
	overflow: auto;
	font-size: 25px;
	font-family: courier;
	background: #8800ff;

	height: auto;
	margin: auto;
	border-radius: 25px ;
	padding: 50px;
	margin-top: 20px;
}

form h1{
  color: #fff;
  font-size: 46px;
}
form p{
  margin-top: 25px;
  color: #fff;
  font-size: 18px;
  text-align: left;
}

form a {
	color: white;
}

form p.error {
	align: center;
	background: #0078ff;
	font-size: 24;
	text-align: center;
	padding: 10px;
}