
.courses{
    overflow: scroll;
    margin: 10px;
    padding 50px;
    border: solid black 2px;
    height: auto;
    width: auto;
    text-align: center;
    background: linear-gradient(to bottom, purple, violet, skyblue );

}
.projects{
    overflow: scroll;
    margin: 10px;
    padding 50px;
    border: solid black 2px;
    height: auto;
    width: auto;
    text-align: center;
    background: linear-gradient(to bottom, purple, violet, skyblue );
}
.userbox {
    border: 2px solid #8800ff;
    box-sizing: border-box;
}

.userbox img {
    max-height: 300px;
    max-width: 70%;
    min-width: 50%;
    width: auto;
    height: auto;
    align-self: center;
    margin: auto;
}


.userbox b {
    font-size: 18px;
    text-align: left;
}

.userbox h2 {
    font-size: 36px;
    text-align: center;
    background: #8850ff;
    color: white;
    padding: 20px;
}
.userbox i {
    font-size: 18px;
    font-style: normal;
    text-align: left;
    line-height: 30px;
}



.clear {

    clear: left;
}

.courseimage{
    padding: 20px;
    max-height: 200px;
    max-width: 70%;
    min-width: 30%;
    width: auto;
    height: auto;
    align-self: center;
    margin: auto;
}


