.userbox {
    border: 2px solid #8800ff;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    margin: 20px 0px;
    box-shadow: 5px 15px #8850ff;
}

.userbox img {
    max-height: 250px;
    /*max-width: 70%;*/
    /*min-width: 50%;*/
    width: 50%;
    height: auto;
    align-self: center;
    margin: auto;
}

.userbox b {
    font-size: 18px;
    text-align: left;
}

.userbox h2 {
    font-size: 36px;
    text-align: center;
    background: #8850ff;
    color: white;
    padding: 5px 20px;
}
.userbox i, .sidebar i{
    font-size: 18px;
    font-style: normal;
    text-align: left;
    line-height: 30px;
}

.userbox p {
    font-size: 15px;
}

.clear {clear: left;}

.courseimage img {
    padding: 20px;
    max-height: 200px;
    max-width: 70%;
    min-width: 30%;
    width: auto;
    height: auto;
}

.courseimage, .usrimage {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .courseimage img{
        /*max-height: 100px;*/
        width: 30%;
        height: auto;
        margin: auto;
    }
}

.userbox i:hover, .sidebar i:hover {
    text-decoration: underline;
}

.sidebar {
    border: 2px solid #8800ff;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    margin: 20px 0px;
    /*box-shadow: 5px 15px #8850ff;*/
    min-height: 600px;
    text-align: center;
}

.sidebar table {
    font-size: 18px;
    border: 2px solid #8850ff;
    margin-bottom: 20px;
}
.sidebar th {
    font-size: 24px;
}
.sidebar li {
    text-align: left;
    list-style-type: none;
}